@import 'vars.scss';

.articleList {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 112px;
  align-items: center;
  padding: 168px 0 112px 0;

  @media (max-width: 1430px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 980px) {
    grid-template-columns: auto;
    padding: 112px 0 32px 0;
  }
}
