@import 'vars.scss';

.page {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - $footer-height);
  padding: 0 32px;

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}
