html, body, button, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#__next {
  width: 100%;
}

body[data-noscroll=true] {
  overflow: hidden;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

[role=button] {
  outline: none;
}

a {
  text-decoration: none;
}
